name: Image Workflow

on:
  push:
    paths:
      - 'iconEmby/**' # 监视 iconEmby 文件夹及其子文件夹下的内容
  pull_request:
    paths:
      - 'iconEmby/**' # 监视 iconEmby 文件夹及其子文件夹下的内容
  workflow_dispatch:

jobs:
  generate_json:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Generate JSON
      run: |
        python .github/scripts/generate_emby_image_json.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: json-artifact
        path: ${{ github.workspace }}/ocd.emby.icons.json

    - name: Push to QuantumultX Repository
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        git add .
        git commit -m "自动更新图标仓库"
        git push origin HEAD:master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}